@model List<People>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="/people/createform" class="btn btn-primary">Add New</a>

<table>
    <tbody>
        @foreach (People peep in Model)
            {
        <tr>
            <td>
                @peep.firstname
            </td>
            <td>
                @peep.lastname
            </td>
            <td>
                @peep.phone
            </td>
            <td>
                @peep.email
            </td>
            <td>
                <a href="/people/editform/@peep.id" class="btn btn-primary">Edit</a>
                <a href="/people/deleteform/@peep.id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
            }
    </tbody>
</table>